html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
}

h1 {
  color: #fff;
}

.headerp {
  color: #fff;
}

footer {
  background-color: #70ad55;
}

input {
  border-color: #6e8c62;
}

fieldset {
  border: 0;
}

i {
  color: #70ad55;
}

select {
  border-color: #6e8c62;
}

.postal-code {
  border-bottom: solid 1px;
  border-color: #70ad55;
}

.phone-number {
  border-bottom: solid 1px;
  border-color: #70ad55;
}

.groups {
  border-bottom: solid 1px;
  border-color: #70ad55;
}

.certification {
  border-bottom: solid 1px;
  border-color: #70ad55;
}
